*{
    margin: 0%;
    padding: 0%;
    background-color: rgba(142, 183, 223, 0.868);
    font-family: serif;
}
h1{
    width: auto;
}
header{
    display: flex;
}

nav#pagina.nav-sticky{
    position: fixed;
}

nav a:hover, nav, section, h1,table tr td{
    border-radius: 5px;
}
nav a:hover{
    background-color: rgba(255, 255, 255, 0.749);
}
.img-logo{
    width: 50px;
    height: 50px;
}
.img-page{
    width: 100%;
}

nav, section, h1,table tr td{
    border: solid 5px rgba(43, 103, 193, 0.954);
}
nav ul{
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 8px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}

table tr td{
    padding: 2px 10px;
}
