body{
    border: 0px;
    margin: 0px;
}

h1{
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif ;
    border: solid 1px black ;
    color: brown;
    width: 89%;
}

.especial{
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
}

img{
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 10%;
}

section ul li{
    font-family: 'Courier New', Courier, monospace;
}